.custom-container {
    background-color: beige;
    width: 1600px;
    height: 700px;
    margin: 2%;
    position: relative;
}

.cu-left-container {
    background-color: green;
    width: 800px;
    min-height: 90%;
    left: 0px;
    float: left;

}

.cu-right-container {
    background-color: coral;
    width: 800px;
    min-height: 100%;
    float: left;

}

.cu-footer {
    background-color: pink;
    bottom: 0px;
    height: 10%;
    width: 70%;
    position: absolute;
}